@model PluggedIn_V1._6.Models.userContact

<div>
    <h4>Register Failed</h4>
    <h4>You missed something or have saved in a wrong format</h4>
    <hr />
    
</div>
<div>
    <!--@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |-->
    <a asp-action="Index">Try again</a>
</div>