@{
    ViewData["Title"] = "Home Page";
}

@*redirects you to login and register page
*@
<a href="~/login"> <input type='button' value='Login'</a>
<a href="~/register"> <input type='button' value='Register'</a>


<div class="text-center">
    <h1 class="">Plugged In</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
